<nav class="main__nav">
      <a href="#" class="main-logo">
        <img src="/img/logo_small-transparent.png" alt="" />
      </a>
      <ul class="main__nav--links">
        <li class="main__nav--items"><a href="/">Home</a></li>
        <li class="main__nav--items"><a href="/admin/add-product">Add Product</a></li>
        <li class="main__nav--items"><a href="#">Shop</a></li>
        <li class="main__nav--items"><a href="#">Login</a></li>
        <li class="main__nav--items"><a href="#">Sign up</a></li>
      </ul>
    </nav>